@page "/todo/{id:int}"

@inject TodoService todoService

<p>Hello</p>

@if (todoItem != null)
{
    <h2>@todoItem.Name</h2>
    <p>@todoItem.IsComplete</p>
}
else
{
    <p>Loading...</p>
}

@code {
    private TodoItem todoItem;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        todoItem = await todoService.GetTodoItem(Id);
    }
}
